<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css" type="text/css">
</head>
<body>

            <div class="login">
                <form method="POST">
                <h2> E-Commerce Login </h3>

                <div class="radio" align="center">
                    <div class="wrapper">
                        <input type="radio" name="user" id="option-1" value="personal" checked>
                        <input type="radio" name="user" id="option-2" value="seller">
                          <label for="option-1" class="option option-1">
                            <div class="dot"></div>
                             <span>Personal</span>
                             </label>
                          <label for="option-2" class="option option-2">
                            <div class="dot"></div>
                             <span>Seller</span>
                          </label>
                       </div>
                </div>

                
                <input type="text" name="username" placeholder="Username" id="username" required maxlength="25" minlength="8">
                <input type="password" name="password" placeholder="Password" required minlength="8" maxlength="26">
                <a href="" class="forgot">Forgot Password?</a>
                <button type="submit" class="cssbuttons-io-button"> Login
                    <div class="icon">
                      <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path></svg>
                    </div>
                  </button>
                  <p class="reg">Don't have an account <a class="link" href="/register">register.</a></p>
            </form>
        </div>




</body>
</html>