<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Non-Logged</title>
</head>
<body>
    <p>You are already logged out.You can login by clicking these links. <a href="/login/user">User Login</a><a href="/login/seller">Seller Login</a></p>
</body>
</html>