<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Change</title>
</head>
<body>
  <%- include('./layouts/_navbar.ejs',{isAuthenticated:isAuthenticated}) %>
  <form action="/password/change" method="POST">
    <input type="text" name="password" id="" placeholder="Password">
    <input type="text" name="newPassword" id="" placeholder="New Password">
    <button type="submit">Save</button>
  </form>


</body>
</html>